name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read # allow GitHub to read repository contents
  id-token: write # required for authentication with Deno Deploy

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v2.x
      - run: deno task check
      - uses: denoland/deployctl@v1
        with:
          project: namnam-cosense-exp-47
          entrypoint: server.ts
